<h1>User Profile</h1>
<h2>Current Reservations:</h2>

<br>

 <% @user.reservations.each do |r| %>
 	<%= r.restaurant.name %> | Seats: <%= r.party_size %> | <%= r.date %> | <%= r.time %> <br>
 <% end %>

