<h3>Sorry, there are currently not enough seats available for your selected time slot. Please try another day or time.</h3>
<p><%= link_to "Home", restaurants_path %> | <%= link_to "Existing Reservations", users_path %></p>
