</p><%= link_to "Existing Reservations", users_path %></p>

<h1>Restaurants</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<br>
<br>

<h3>List Restaurants by Cuisine:</h3>
<ul>
	<li><%= link_to "Pub", sort_restaurants_path("Pub") %></li>
	<li><%= link_to "Fine Dining", sort_restaurants_path("Fine Dining") %></li>
</ul>
